<!DOCTYPE html>
<html>
<head>
<title>But What time is it?</title>
</head>
<body>
    <h1>Do you have the time?</h1>
    <% time = Time.now%>
    <p>The date is <%= time.strftime("%A, %B %d, %Y") %></p>
</body>
</html>