<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
    
        <p><% require 'date'%> <%= "The date is " %> <%= Time.now.strftime("%A, %B %d, %Y") %></p>

    </body>
</html>