<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% today_date = DateTime.new %>
        <p>The date is Wednesday, May 06, 2020<p>
    </body>
</html>
