
<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <h1> "Today"</h1>
    <body>
    <%time = Time.now%>
        <p><%=time.strftime("The date is %A, %B %d, %Y")%></p>
    </body>
</html>
