<!DOCTYPE html>
<html>
<head>
<title>C Ya</title>
</head>
<body>
    <h1>I'll catch you next time</h1>
    <p>Its been real, and its been fun. But it hasn't been real fun</p>
    <p>Goodbye Joe</p>
</body>
</html>